/* admin/src/ui-builder/components.css */

.ui-lib-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 8px;
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  cursor: grab;
  text-align: right;
  border-radius: 4px;
}

.ui-element {
  border: 1px dashed #ddd;
  padding: 10px;
  margin: 8px 0;
  background: #fff;
  cursor: move;
}

.ui-canvas {
  background: #fff;
  min-height: 300px;
  border: 1px dashed #ddd;
  border-radius: 6px;
}
